<a href="https://colab.research.google.com/github/Aryan2079/Data-Science-Training/blob/main/Day_1_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1. Introduction

python has 4 primitive data types in python. Integer, Float, String and Boolean.

In [ ]:
name = input('enter your name: ')
caste = input("enter you last name: ")
dob = input ('enter your date of birth: ')

print(f"{name + ' ' + caste} will be {2030-int(dob)} years old in 2030")

enter your name: aryan
enter you last name: bhattarai
enter your date of birth: 2003
aryan bhattarai will be 27 years old in 2030


formatted string. we can use formatted strings to insert variables in the string. they are like template literals in javascript.
syntax: f"blah blah blah {variable or any logical expression}"

In [2]:
print('hello \n world')

hello
 world

here the backslash is treated as a special character.

In [3]:
print(r"hello \n world")

hello \n world

but here the the string is a raw string so the backslash is treated as a normal string.