<a href="https://colab.research.google.com/github/Aryan2079/Data-Science-Training/blob/main/Day_2_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Arithmetic Operators

In [25]:
a = 3
b = 2

print(a+b) #addition
print(a-b) #substraction
print(a/b) #division
print(a//b) #floor division
print(a*b) #multiplication
print(a**b) #exponential
print(a%b) #modulo division

5
1
1.5
1
6
9
1

# String Operations In Python

1. string length: len()
2. indexing: []
3. slicing: [_:_]
4. Concatenation: _ + _
5. String Repetition: _*
6. String Membership: _ in _
7. String Iteration:
8. String Methods: lower(), upper(), strip(),replace(),split(),title(),count() etc
9. String Character Escaping:
10. String Formatting: use f strings
11. String Comparison: use operations like ==, !=, <, >, <=, >=

In [42]:
cat_name = "ginger bread"
dog_name = "shree hari ram chandra prasad kumar"
print(len(cat_name))
print(cat_name[1])
print(cat_name[7:])
print(cat_name + ' ' + dog_name)
print(cat_name*2)
print("ginger" in cat_name)

for letter in cat_name:
  print(letter)

print(dog_name.upper())
print(cat_name.capitalize())
print(dog_name.title())
print(dog_name.split())
print(cat_name.strip())
print(dog_name.replace('shree',"shri"))

print("she said \"never let go\"")

print(dog_name.count('shree'))

12
i
bread
ginger bread shree hari ram chandra prasad kumar
ginger breadginger bread
True
g
i
n
g
e
r

b
r
e
a
d
SHREE HARI RAM CHANDRA PRASAD KUMAR
Ginger bread
Shree Hari Ram Chandra Prasad Kumar
['shree', 'hari', 'ram', 'chandra', 'prasad', 'kumar']
ginger bread
shri hari ram chandra prasad kumar
she said "never let go"
1

In [47]:
number = input('enter your: ')
for i in range(1,10):
  print(f"the value of {number}*{i} is {int(number)*i}")

enter your: 7
the value of 7*1 is 7
the value of 7*2 is 14
the value of 7*3 is 21
the value of 7*4 is 28
the value of 7*5 is 35
the value of 7*6 is 42
the value of 7*7 is 49
the value of 7*8 is 56
the value of 7*9 is 63